.navbar {
   color: white;
   width: 100%;
   background-color: #000;
   margin: 0;

   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-right: 1rem;
   padding-left: 1rem;

   display: flex;
   align-items: left;
   flex-direction: row;
   flex-wrap: nowrap;
}

/* Navbar container */
.navbar1 {
   overflow: hidden;
}

/* Links inside the navbar */
.navbar1 a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* The dropdown container */
.dropdown {
   float: left;
   overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   /* Important for vertical align on mobile phones */
   margin: 0;
   /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown_content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown_content a:hover {
   background-color: grey;
}

/* Links inside the dropdown */
.dropdown_content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
   display: block;
}

.navbar>* {
   display: flex;
   justify-content: center;
   cursor: pointer;
}

.navbar p,
.navbar a {
   padding: 0.5rem 1rem;
   margin-top: 0;
   margin-bottom: 0;
}

.navbarRight {
   margin-left: auto;
   align-items: center;
   justify-content: center;
}

.leftNavbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   margin-right: auto;
}

.adminButton {
   margin-left: 8px;
   margin-right: auto;
   /* color: red !important; */
}

.adminButton:hover,
.navButton:hover {
   filter: brightness(0.8);
}

.brand {
   color: white;
   font-weight: 800;
   text-decoration: none;

   margin-right: auto;
}

.brand:hover {
   color: #ccc;
}

.verifiedSessionButtons {
   flex-grow: 1;
   cursor: default;
}

.verifiedSessionButtons>* {
   flex-grow: 0;
}

@media (max-width: 600px) {
   .navbar {
      padding-left: 0;
      padding-right: 0;
   }

   .navButton {
      padding: 4px 8px !important;
   }

   .brand {
      padding: 4px 8px !important;
      width: 0px;
      display: none;
   }

   .directory,
   .adminButton {
      padding-left: 8px !important;
   }
}